<?xml version="1.0" encoding="utf-8"?>
<log4net>

	<appender name="MLTaskSchedulerRollingFile" type="log4net.Appender.RollingFileAppender">
		<threshold value="ALL"/>
		<file value="Log/MLTaskScheduler.log" />
		<encoding value="utf-8" />
		<appendToFile value="true" />
		<maximumFileSize value="10MB" />
		<maxSizeRollBackups value="10" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%level %date %logger [%thread] %message%newline" />
		</layout>
	</appender>

	<appender name="Console" type="log4net.Appender.ConsoleAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>

	<logger name="MLTaskScheduler">
		<appender-ref ref="Console" />
		<appender-ref ref="MLTaskSchedulerRollingFile"/>
	</logger>

</log4net>
